
@{
    ViewBag.Title = "INA d.d. - Preuzimanje izvještaja";
    Layout = "~/Views/Shared/_UserLayoutNewUser.cshtml";
}

<h2>INA d.d. - Preuzimanje izvještaja</h2>
<hr />
<div class="alert alert-info">
    <p style="text-align: justify">
        Ovo sučelje omogućava preuzimanje izvještaja o nepreuzetim dokumentima koji su poslani iz INA d.d. putem servisa Moj-eRačun. Izvještaj koji sustav vraća sadrži podatke o:
        <ul>
            <li>OIB-u kupca</li>
            <li>Nazivu kupca</li>
            <li>Broju dokumenta</li>
            <li>Datumu i vremenu slanja</li>
            <li>MerId-u</li>
            <li>Statusu dokumenta</li>
            <li>Tipu dokumenta</li>
        </ul>
        <br />
        Sučelje omogućava i dodjelu nekih kriterija za kreiranje izvještaja. Kriteriji po kojima je moguće kreirati izvještaj su: Datum početka pretrage te Datum završetka pretrage. Oba kriterija su opcionalna, odnosno nisu obavezni za unos.<br />
        Ako korisnik ne želi unijeti niti jedan kriterij može samo pokrenuti preuzimanje izvještaja.
    </p>
</div>
<hr />
@using (Html.BeginForm("GetInaDeliveryReport", "UserReport", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="start-date-search">Početak pretrage</label>
                <div id="start-date-search">
                    @Html.TextBox("StartDate", ViewBag.CurrentFilter as string, new { @class = "date-picker form-control", @placeholder = "Početak pretrage", @type = "text" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="end-date-search">Završetak pretrage</label>
                <div id="end-date-search">
                    @Html.TextBox("EndDate", ViewBag.CurrentFilter as string, new { @class = "date-picker form-control", @placeholder = "Završetak pretrage", @type = "text" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group" style="margin-bottom:0">
            <input id="Search" type="submit" class="btn btn-default btn-sm" value="Preuzmi izvještaj" />
        </div>
    </div>
}
<hr />
