@model HandleErrorInfo
@{
    ViewBag.Title = "Pogreška - Pogrešan format unosa podatka";
}

<h1 class="text-danger" style="margin-top: 50px">Greška</h1>
<h2 class="text-danger">Pogrešan format unosa podatka</h2>
<br />
<h5 class="text-danger">
    Prilikom ažuriranja podataka se dogodila greška kod formata unosa podatka. Molimo obratite pozornost na niže situacije kako biste detektirali problem s formatom podatka za unos.
    <br/>
    <strong>Modul - TVRTKE</strong>
    <br/>
    Prilikom korištenja ovog modula greška se može dogoditi zbog pogrešnog formata adresnih podataka u Moj-eRačun sustavu. Molimo provjerite format tih podataka te pokušajte ponovno.
</h5>


