@model HandleErrorInfo
@{
    ViewBag.Title = "Pogreška - Nedostaje bilješka";
}

<h1 class="text-danger" style="margin-top: 50px">Greška</h1>
<h2 class="text-danger">Nedostaje bilješka</h2>
<br />
<h5 class="text-danger">
    Pokušavate kreirati lead iz prodajne priliku za koju niste generirali niti jednu bilješku. Molimo kreirajte bilješku vezanu za ovu prodajnu priliku i pokušajte ponovno kreirati lead.
</h5>


